<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <ul class="navbar-nav" style="margin-left: 20px;">
    <li class="nav-item">
      <a routerLink="admin-home" routerLinkActive="active" class="nav-link">BTR</a>
    </li>
    <li class="nav-item">
      <a routerLink="bus-list" routerLinkActive="active" class="nav-link">Bus List</a>
    </li>
    <li class="nav-item">
      <a routerLink="add-bus"  routerLinkActive="active" class="nav-link">Add Bus</a>
    </li>
  </ul>
</nav> -->
<app-nav-bar></app-nav-bar>
<!-- <h1 class="text-center">BTR</h1> -->

<div class="container">
  <router-outlet></router-outlet>
  <!-- <app-bus-list></app-bus-list> -->
</div>
<!-- <footer class="footer">
  <div class="container">
    <span>All rights reserved 2021 @BTR ......</span>
  </div>
</footer> -->